<div class="navbar">
    <mat-toolbar id="navbar" color="warn">
      <button mat-icon-button routerLink="/inicio" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
      </button>
      <span class="example-spacer"></span>
  
      <span class="espaciado2"></span>
  
      <mat-form-field class="example-full-width" id="input">
        <mat-label>Buscar</mat-label>
        <input matInput placeholder="Buscar producto...">
        
      </mat-form-field>
    
      <span class="espaciado"></span>
  
      <span class="espaciado2"></span>
  
      <button routerLink="/card" mat-button>Productos</button>
  
      <span class="espaciado2"></span>
      
      <button routerLink="/admin" mat-button>Subidos</button>
  
     <span class="example-spacer"></span>
  
  
    </mat-toolbar>
  </div>